
body{
    background-color:blanchedalmond;

}
h1{

    color:rgb(124, 23, 124);
    font-family: ;
    background-color: ;

    text-align: center;
}
p{
    color:green;
    font-family: ;
    font-size: ;
    background: ;
    text-align: center;
}
h1{
    color: rgb(124, 23, 124);
    font-family: ;
    background-color: ;
}

