
body{
    background-color: burlywood;

}
h1{

    color:purple;
    font-family: ;
    background-color: ;
}
p{
    color:purple
     font-family: ;
    font-size: ;
    background: ;

    text-align: center;
}
