
body{
    background-color: burlywood;

}
h1{

    color:purple;
    font-family: ;
    background-color: ;

    text-align: center;
}
p{
    color:blueviolet;
    font-family: ;
    font-size: ;
    background: ;
    text-align: center;
}

